@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.product-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px black;
  border-radius: 7px 7px 7px 7px;
}
.product-img {
  float: left;
  height: 419px;
  width: 327px;
}
.product-img img {
  border-radius: 7px 0 0 7px;
}
.product-info {
  float: right;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
}
.product-text h1 {
  font-weight: bolder;
  font-size: 40px;
  font-family: "Muli", cursive;
  margin: 3vh 0 auto;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.2rem;
}
.product-text h2 {
  font-weight: lighter;
  font-size: 20px;
  color: rgb(202, 202, 202);
  padding-left: 3rem;
  text-transform: uppercase;
}
.product-text p {
  font-weight: 6px;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  line-height: 1.7em;
  padding: 2rem;
}

.product-price h1 {
  color: #14e9b0;
  padding-top: 2px;
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
}
.product-price button {
  float: right;
  margin-right: 2rem;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin-top: -4.8rem;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #73fad4;
  outline: none;
}
.product-price button:hover {
  outline: none;
  cursor: pointer;
  background-color: #22ddab;
}
